h1 {
  color: #52A9E5;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
}

h2 {
  color: #A6E22E;
  margin-top: -0.7em;
  font-size: 15px;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

pre {
  color: #A6E22E;
  font-family:"Courier New";
  font-size: 12px;

}

pre.logo {
  color: #52A9E5;
  font-size: 20px;

}


h2.minititle {
  color: #AE81FF;
  margin-top: -0.7em;
  font-size: 15px;
  font-weight: normal;

}

p#line{
  color: #F92672;
  text-align: center;
}

img{
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px
}

a {
  color: #52A9E5;
}

a:hover {
  color: #66D9EF;
}

p {
  color: #F8F8F2;
  font-size: 12px;

}

li {
  color: #F8F8F2;
  font-size: 12px;

}

html {
  background-color: #272822;
}

body {
  background-color: #272822;
  font-family: "Lucida Console";
  text-align: left;

}



div#container {
  width: 50%;
  margin: 0px auto;
  margin-left: auto;
  margin-right: auto;
  width: 500px;

}

div#title {
  text-align:center;
  padding-top: 20px;
  padding-bottom: 30px;
}
