/*Made by Akseli Lahtinen */

body {
    padding-top: 5rem;
    font-family: 'Roboto Mono', monospace;
}

hr {
    margin-top: 2rem;
}

.items-container {
    padding: 3rem 1.5rem;
}

.item {
    margin-bottom: 50px;
}

.media {
    margin-bottom: 3rem;
    padding-top: 150px;
    margin-top: -150px;
}

.header {
    text-align: center;
}

.mr-3 {
    width: 125px;
}

footer {
    margin-bottom: 3rem;
    text-align: center;
}


.vl {
    border-left: 1px solid black;
}

@media screen and (max-width: 440px) {
    .dropdown-item {
        word-wrap: break-word;
        white-space: normal;
    }
    .item h4 {
        padding-top: 160px;
        margin-top: -160px;
    }
}

@media screen and (max-width: 767px) {
.vl {
    border-left: 0px;
    border-top: 1px solid black;
}
}

@media screen and (max-width: 1024px) {
    .item h4 {
        padding-top: 160px;
        margin-top: -160px;
    }
    .media-body{
        margin-top: 140px;
        margin-left: -130px;
    }
    .mr-3
    {
        margin-right: 0 !important;
        height: 125px;
        width: 125px;
    }
    .noimage
    {
        margin-top: 0px;

    }



}